@model Studenti
<form method="post">
    <div class="border p-4">
        <input type="hidden" asp-for="Id"/>
        <div class="row">
            <h2 class="text-primary"> Fshi studentin</h2>
            <hr/>
        </div>
        <div class="mb-2">
            <label asp-for="Emri"></label>
            <input asp-for="Emri" class="form-control"/>
        </div>
        <div class="mb-2">
            <label asp-for="Mbiemri"></label>
            <input asp-for="Mbiemri" class="form-control"/>
        </div>
        <div class="mb-2">
            <label asp-for="KomunaId"></label>
            <select asp-for="KomunaId" asp-items="ViewBag.Komunat" class="form-select">
                <option value="0">Selekto komunen</option>
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Fshi</button>
        <a class="btn btn-secondary" asp-controller="Student" asp-action="Listo">Kthehu</a>
    </div>
</form>